<h2>CUSTOMER LOGIN</h2>

<form action="/customer-login" method="POST">
  <div>
    <label for="username">Username:</label>
    <input type="text" name="username" placeholder="grandmas@food.com">
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" name="password" placeholder="grandma">
  </div>
  <div>
    <input type="submit" value="Log In">
  </div>
</form>