<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="stylesheets/style.css">
  <title>Vendor Login</title>
</head>

<body>
<form id="form" action="/vendorlogin" method="POST" id="form">
     
    <h2>Vendor Login</h2>
    <label for="email">E-mail</label>
    <input type="text" name="email" placeholder="grandmas@food.com">
    <br><br>
    <label for="password">Password</label>
    <input type="password" name="password" placeholder="grandma">
    <br><br>
    <% if (typeof errorMessage !== "undefined") { %>
        <div class="error-message"><%= errorMessage %></div>
    <% } %>
    <button>Log in</button>

    <p class="account-message">
        Don't have a vendor account? <a href="/vendorsignup">Sign up</a>
    </p>
</form>
</body>
</html>